.btn-blank {
    color: #333;
    background-color: #fff;
    border-color: #fff;
}

.btn-blank:focus,
.btn-blank.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.btn-blank:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

.btn-blank:active,
.btn-blank.active {
    color: #333;
    border-color: #e6e6e6;
    background: #e6e6e6 none;
}

.btn-blank:active:hover,
.btn-blank.active:hover,
.btn-blank:active:focus,
.btn-blank.active:focus,
.btn-blank:active.focus,
.btn-blank.active.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

body {
    padding-top: 70px;
}

.symbol {
    font-size: 30px;
    padding-top: 11px;
    padding-bottom: 11px;
}