#mazeTable {
    border: 1px solid #fff;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 2px;
}

#mazeDirections {   
    font-size: 25px;
    color: #fff;
}

#mazeTable td {
    width: 30px;
    height: 30px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    text-align: center;
    position: relative;
	cursor: none;
}

.mazeDot {
    position: absolute;
    top: -5px;
    left: 11px;
}

.mazeCircle {
    display: none;
    position: absolute;
    top: -3px;
    left: 3px;
    color: #81F781;
}

.mazeCell.start-stop:hover {
    background-color: #fff;
}

.mazeCell.start-marker {
    background-color: #fff;
}

.mazeCell.stop-marker {
    background-color: #ee3333;
}

.mazeCell.path-segment {
    color: #444488;
}

.mazeCell.start-stop.place-stop:hover {
    background-color: red;
}

.mazeCell:hover .mazeCircle,
.mazeCell.placed .mazeCircle{
    display: block;
}

.mazeCell.start-stop:hover .mazeCircle {
    display: none;
}